.container {
    width: 50%;
    height: 80%;
    background-color: #222831;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
}

.errColor {
    color: #bf1650;
    font-weight: 500;
}

.formLabel {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 400;
}

.formInput {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 1em 1.5em;
    margin-bottom: 1em;
    font-size: 1em;
}

.formSubmit[type="submit"] {
    background: #00ADB5;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    color: #EEEEEE;
    margin-top: 1em;
    padding: 0.8em;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 3px;
}

.formSubmit[type="submit"]:hover {
    background: #06e8f5;
    color: #222831;
    cursor: pointer;
}